.container{
  width: 100vw;
  height: 40px;
  margin: 0 auto;

  background-color: #008275;
}

.footer{
  width:100%;
  margin: 0 40px 0 40px;

  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.footer > nav{
  vertical-align: middle;
}

.footer a {
  color: white;
	text-decoration: none;
	outline: none;

  float: left;
  padding: 0 20px 0 20px;
}

.footer > nav > ul > li > a:hover{
  background-color: rgba(255, 255, 255, 0.226);
}

.footer > nav > a,ul {
  display: inline;
}

.footer > nav > ul > li{
  display: inline;
}

.footer > nav > ul > li:hover{
  background-color: rgba(255, 255, 255, 0.514)
}

.footer > nav > a:last-child{
  float: right;
}

.menu-ul {
	list-style: none;
}

